.advantages-section {
  padding-bottom: 0;
  @media (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.advantages {
  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: 767px) {
    &__item {
      width: 100%;
    }
  }
  @media (max-width: 767px) {
    &__item + &__item {
      margin-top: 30px;
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    &__item {
      margin: 15px;
      // width: calc((100%-60px) / 2);
      width: 354px;
    }
  }
  @media (min-width: 1200px) {
    &__item {
      width: 270px;
    }
    &__item + &__item {
      margin-left: 30px;
    }
  }

  &__title {
    @media (max-width: 767px) {
      text-align: center;
    }
    margin-top: 0;
    margin-bottom: 10px;
    color: $heading-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  &__text {
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  &__box {
    @media (min-width: 1200px) {
      width: 270px;
    }
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;
    background-color: $secondary-color;
    margin-bottom: 30px;
  }
}
