.clients {
  display: flex;
  justify-content: space-between;

  &__image {
    fill: currentColor;
  }
}

.clients__item .clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: $icon-color;
  border: solid 1px $icon-color;
  border-radius: 4px;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
