.social {
  display: flex;
  align-items: center;
  justify-content: center;

  &__instagram {
    fill: currentColor;
  }
  &__twitter {
    fill: currentColor;
  }
  &__facebook {
    fill: currentColor;
  }
  &__linkedin {
    fill: currentColor;
  }
  &__icon + &__icon {
    margin-left: 10px;
  }
}

.social__link {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $icon-color;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $primery-white-color;
    background-color: $accent-color;
  }
  .invite & {
    color: $primery-white-color;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .invite &:hover,
  .invite &:focus {
    background-color: $accent-color;
  }
}
