.whatwedo {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 370px;
  }
  &__item + &__item {
    margin-left: 30px;
  }
  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $primery-white-color;

    position: absolute;
    bottom: 0;

    width: 100%;
    padding-bottom: 27px;
  }
}

.whatwedo__thumb {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
